{{- define "main" -}}

<div class="p-5 text-center post-title-bg">
    <strong class="h1 text-blue">
        {{ .Title  }}
    </strong>
</div>
<div class="content container text-center">

  {{ $pages := .Pages }}
  {{ range $pages.ByPublishDate }}
    <div class="my-5">
      <h4 class="fw-bold">
        <a style="text-decoration: none;" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </h4>
      <small class="text-secondary">
        {{ $customDateFormat := "January 2, 2006" }}
        {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
        {{ .PublishDate.Format $customDateFormat }}
        -
        {{ partial "time-to-read.html" . }}
      </small>
      <!-- {{ partial "tags" . }} -->
      {{ if eq .Site.Params.showPostSummary true }}
      <br>
      {{ .Summary }}
      {{ end }}
    </div>
  {{ end }}
</div>

{{- end -}}
