{{- define "main" -}}

<div class="p-5 text-blue post-title-bg">
    <h1 class="fw-bold">{{ .Title | markdownify }}</h1>
    {{ if or .Params.showDate .Site.Params.showDate }}
        <span class="text-muted">{{- .Date.Format "Jan 2, 2006" }} - {{ partial "time-to-read.html" . }}</span>
    {{ end }}
</div>
<div class="content p-3 fluid-container">
    {{ .Content }}
</div>
<!-- <hr>
<div class="d-flex justify-content-around">
    <div class="p-2 bd-highlight">
        {{ with .PrevInSection }}
            <a href="{{ .Permalink }}">
                <button class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                    {{ .Title }}
                </button>
            </a>
        {{ end }}
    </div>
    <div class="p-2 bd-highlight">
        {{ with .NextInSection }}
            <a href="{{ .Permalink }}">
                <button class="btn btn-primary">
                    {{ .Title }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </button>
            </a>
        {{ end }}
    </div>
</div> -->
    

{{- end -}}