<div class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid mb-2">
      <a class="navbar-brand text-light fw-bolder" href="/">Simplify</a>        
    </div>
  </nav>
  {{ if not .IsHome }}
  <div class="nav bg-dark">
    {{ range .Site.Sections.Reverse }}
    <li class="nav-item">
      <a href="{{ .Permalink }}" class="nav-link text-light" style="text-decoration: none;">
        <button class="btn btn-dark" style="width: 100%;">
          {{ .Title }}
        </button>          
      </a>      
    </li>
    {{ end }}
    
  </div>
  {{ end }}
</div>